@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/* Flower First Start */
.flower-first {
  width: 1920px;
  height: 850px;
  margin: 0 auto;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 178px;
}
.intro-content > h1 {
  color: rgb(39, 39, 39);
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 32px;
}
.intro-content > p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}
.btn-primary {
  border-radius: 8px;
  border: none;
  background: rgb(229, 84, 115);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  padding: 20px 43px 20px 43px;
}
.banner-img {
  width: 635px;
  height: 800px;
  margin-top: 45px;
}
/* Flower First End */

/* Featured Styles Start*/
.featured {
  text-align: center;
  margin-bottom: 48px;
}

.featured > h1 {
  color: rgb(39, 39, 39);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.featured > p {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
/* Featured Styles End*/

/* Flowers Picture Styles Start */
.three-flowers {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 128px;
}

.pink-flower {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.pink-flower > img {
  width: 310px;
  height: 428px;
  margin: 110px 78px 0 76px;
}
.pink-flower > p {
  text-align: center;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
  text-decoration: underline;
}

.red-flower {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.red-flower > img {
  width: 370px;
  height: 370px;
  margin: 117px 47px 51px;
}
.red-flower > p {
  text-align: center;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
  text-decoration: underline;
}

.yellow-flower {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.yellow-flower > img {
  width: 314px;
  height: 471px;
  margin: 67px 75px 0 67px;
}

.yellow-flower > p {
  text-align: center;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  margin-top: 32px;
  text-decoration: underline;
}
/* Flowers Picture Styles End */

/* Customer Care Section Style Start */
.customer {
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 0 auto;
  margin-bottom: 128px;
}

.daily-delivery {
  text-align: center;
  margin: 86px 0 87px 175px;
}

.daily-delivery > img {
  width: 77px;
  height: 82.5px;
  margin-bottom: 24px;
}

.daily-delivery > p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}

.fresh-flower {
  text-align: center;
  margin: 86px 87px;
}

.fresh-flower > img {
  width: 85.39px;
  height: 85.42px;
  margin-bottom: 20px;
}

.fresh-flower > p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}

.free-support {
  text-align: center;
  margin: 86px 175px 87px 0;
}

.free-support > img {
  width: 88px;
  height: 88px;
  margin-bottom: 18px;
}

.free-support > p {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}
/* Customer Care Section Style End */

/* hot deal style start */
.hot-deal {
  width: 1920px;
  height: 850px;
  border: 10px solid red;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sale-up {
  width: 594px;
  height: 228px;
  text-align: center;
  margin: 230px 0 162px 150px;
}

.sale-up > h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.sale-up > p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.rose-img {
  margin: 100px 429px 100px 0;
}

/* hot deal style end */
